@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');

/* This file is for your main application css. */
body {
  font-family: "Ubuntu Condensed", sans-serif;
  text-align: center;
  margin: 0;
  background: url('/images/houseofreps.jpg');
  background-size: cover;
  background-position: center center;
}

@media (max-width: 500px) {
  body { background-image: url('/images/houseofreps.jpg'); }
}

@media (max-width: 786px) {
  body { background-image: url('/images/houseofreps.jpg'); }
}

@media (min-width: 786px) {
  body { background-image: url('/images/houseofreps.jpg'); }
}

header .alert {
  background: rgba(0,0,0,0.5);
  padding: 15px;
}
header .alert-info { color: #cc5454; }

ul, li {
  text-align: center;
  padding: 0;
  list-style-type: none;
}

h1 {
  font-size: 45px;
  margin: 5px;
}

h2 {
  margin: 5px auto 40px;
  font-size: 25px;
}

main {
  padding: 20px;
  margin: auto;
  background: rgba(0,0,0,0.65);
  color: white;
}

a         { color: #bbb; }
a:visited { color: #ccc; }
a:hover   { color: #ddd; }

.why-is-that {
  white-space: nowrap;
}

.container {
  padding: 10px;
  min-height: 100vh;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.alert { margin: 0; }

.highlight-area {
  display: inline-block;
  background: rgba(255,255,255,0.2);
  padding: 15px;
  border-radius: 6px;
}

.reminder {
  font-size: 20px;
}

.rep-list {
  margin-top: 75px;
}

.rep {
  margin: 0 10px 50px;
  text-shadow: 2px 2px 0 black;
}

/* https://designshack.net/articles/css/css-button-tutorial-how-to-code-buttons-in-5-simple-steps/*/
.button {
  background: #34bc6f;
  border: 2px solid rgba(33, 168, 72, 0.6);
  color: rgba(0,0,0,0.55);
  text-align: center;
  font: "Helvetica Neue";
  font-weight: bold;
  text-decoration: none;
  background: -webkit-linear-gradient(top, #34bc6f, #2f9a63);
  background: linear-gradient(top, #34bc6f, #2f9a63);
  box-shadow: 0 8px 0 #1b383b;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  line-height: 65px;
  font-size: 30px;
  color: white;
  cursor: pointer;
  border: 0;
  border-radius: 6px;
  padding: 0 20px;
  vertical-align:top;
}

.rep-image {
  border-radius: 6px;
}

.rep-button {
  display: block;
  height: 50px;
  line-height: 50px;
}

.rep-title {
  margin-bottom: 15px;
}

/*Step 5: Hover Styles*/
.button:hover {
	background: #3da680;
  background: -webkit-linear-gradient(top, #3da680, #2f5f63);
	background: linear-gradient(top, #3da680, #2f5f63);
}

.form-wrapper {
  margin: 50px 0;
}

.form-input-wrapper {
  margin: 12px 0;
}

.form-input {
  width: 335px;
  text-align: center;
  font-size: 32px;
  border: 0;
  outline: 0;
  color: white;
  background: transparent;
  margin-right: 15px;
  line-height: 60px;
}

.address-disclaimer {
  font-size: 14px;
  line-height: 20px;
}

.main-spacer {
  margin: 75px 15px;
  border: 1px solid #555;
}

.clear-search {
  font-size: 20px;
  margin-top: 75px;
}

.slug-url {
  margin: 5px;
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px 8px black;
}

@media (max-width: 460px) {
  .slug-url { font-size: 25px; }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

footer {
  box-shadow: 0 0 5px black;
  color: white;
  background: url(../images/dark-background.png);
  font-size: 20px;
  font-family: 'Ubuntu Condensed', sans-serif;
  text-align: center;
  padding: 15px;
}

footer img {
  height: 25px;
  padding: 0 5px;
  position: relative;
  top: 5px;
  border-radius: 100%;
}

footer i {
  cursor: pointer;
}

footer img.no-radius {
  border-radius: 0;
}

.created-by {
  font-size: 17px;
}

.get-in-touch {
  font-size: 20px;
  padding: 10px 0;
}

.get-in-touch a {
  width: 40px;
  display: inline-block;
}

.copyright {
  font-size: 14px;
}

.photo-credit {
  line-height: 20px;
  font-size: 13px;
}
