<li class="rep highlight-area">
  <section>
    <img class="rep-image" src="<%= @rep.avatar %>" alt="<%= @rep.name %>" />
    <h1 class="rep-name"><%= @rep.name %></h2>
    <h2 class="rep-title"><%= @rep.state_name %> - District <%= @rep.district %></h3>
    <a class="button rep-button" href="tel:+1-<%= @rep.phone %>" /><%= @rep.phone %></a>
  </section>
</li>
