<li class="rep">
  <section>
    <img src="<%= @rep.avatar %>" alt="<%= @rep.name %>" />
    <h3><%= @rep.name %></h2>
    <h4><%= @rep.state_name %> - District <%= @rep.district %></h3>
    <a href="tel:+1-<%= @rep.phone %>" /><%= @rep.phone %></a>
  </section>
</li>
